* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.page_wrapper {
  display: flex;
}

.left-panel {
  margin: 0 auto;
  max-width: 500px;
  background-color: white;
  height: 100vh;
  align-items: center;
}

.left-panel__container {
  width: 100%;
  margin: 0 auto;
  max-width: 420px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.left-panel__header {
  margin-top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search_bar {
  border: 0;
  width: 350px;
  height: 42px;
  padding-left: 50px;
  background: #DCDCDC;

  background-image: url('../assets/img/magnifying-glass.svg');
  background-repeat: no-repeat;
  background-position: 18px 12px;
  background-size: 20px;
  outline: none;
  font-size: 20px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.home {
  border: 0;
  width: 45px;
  height: 42px;
  margin-left: 40px;

  background: #DCDCDC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.left-panel__image {
  margin-top: 20px;
  width: 400px;
  height: 400px;
}

.left-panel-text {
  font-family: Montserrat;
  font-size: 36px;
  text-align: center;
  font-weight: normal;
}

.left-panel-text__temperature {
  margin-top: 20px;
  font-weight: 300;
  font-size: 96px;
}

.left-panel-text__location {
  margin-top: 20px;

  font-weight: 600;
}

.left-panel-text__day {
  margin-top: 10px;

  font-weight: 300;
}

.left-panel-text__time {
  margin-top: 10px; 
}

.right-panel {
  background-color: #F1F1F1;
  width: calc(100% - 500px);
  /* height: 100%; */
  display: flex;

}

.right-panel__container {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
}

.right-panel-text__wrapper {
  margin-top: 60px;
  text-align: center;
}

.interval_text {
  margin: 0 5px;
  color: #BCBCBC;
  
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

.interval_text:hover {
  cursor: pointer;
  color: hsl(0, 0%, 45%);
}

.interval_text.active {
  /* cursor: default; */
  color: black;
}

.right-panel-ellipse__wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.ellipse__text {
  background-color: white;
  color: black;

  border-radius: 50%;
  margin: 0 5px;
  width: 35px;
  height: 35px;
  font-size: 18px;
  text-align: center;
  padding-top: 7px;

  font-family: Roboto;
  font-weight: 500;
}

.ellipse__text.active {
  background-color: black;
  color: white;
}

.ellipse__text:hover {
  cursor: pointer;
}

.right-panel-card__wrapper {
  margin-top: 20px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.right-panel-card {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  padding: 8px 0;

  width: 112px;
  height: 153px;
  border-radius: 30px;
  background: #FFFFFF;
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.25));

  
}

.right-panel-card__time {
  text-align: center;

  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}

.right-panel-card__picture {
  text-align: center;
}

.right-panel-card__temperature {
  text-align: center;

  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
}

.right-panel-card__image {
  width: 65px;
  height: 65px;
}

.highlights__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;

  text-align: center;
  margin-top: 78px;
}

.highlights__main {
  margin-top: 78px;
  display: flex;
  justify-content:space-between;
}

.highlights__block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hightlights__row {
  display: flex;
}

.highlights__wrapper {
  margin-left: 26px;
  width: 240px;
  height: 186px;

  background: #FFFFFF;
  border-radius: 30px;
}

.highlights__wrapper:first-child {
  margin-left: 0;
}

.highlights__component {
  height: 166px;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  text-align: center;
}

.highlights__component-text {
  text-align: center;
  margin-top: 18px;

  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
}

.leaflet-container {
  width: 400px;
  height: 400px;

  border-radius: 30px;
}

.temp_max {
  margin-left: 4px;
  color: #BCBCBC;
}

.highlights__sunrise {
  width:  35px;
  height: 35px;
}

.highlights__sunset {
  width:  35px;
  height: 33px; 
}

.highlights__sunrise-sunset-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 10px;
}

.highlights__component-bottom-text {
  font-family: Roboto;
  font-weight: 400;
  font-style:italic;
  color: rgb(165, 165, 165)
}

.highlights__min-max-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
}

.highlights__min-max {
  width: 40px;
  height: 40px;
}

.highlights__component-humidity-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlights__component-humidity {
  width: 40px;
  height: 40px;
}

.highlights__component-clouds-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlights__component-clouds {
  width: 40px;
  height: 40px;
}

.highlights__component-visibility-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlights__component-visibility {
  width: 40px;
  height: 40px;
}

.highlights__component-wind-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.highlights__component-wind_img {
  width: 40px;
  height: 40px;
}

.highlights__component-info_text {
  margin-left: 15px;

  font-family: Montserrat;
  font-weight: 500;
  font-size: 20px;
}

